/*====== IMPORT STATEMENTS ======*/
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400");

/*====== WIDTH & HEIGHT: GENERAL ======*/
.screenW {
    width: 100vw;
}
.screenH {
    height: 100vh;
}
.fullW {
    width: 100%;
}
.fullH {
    height: 100%;
}

/*====== WIDTH: SPECIFIC ======*/
.width200 {
    width: 200px;
}
.width300 {
    width: 300px;
}
.width400 {
    width: 400px;
}
.width450 {
    width: 450px;
}
.width500 {
    width: 500px;
}
.width600 {
    width: 600px;
}
.width700 {
    width: 700px;
}
.width800 {
    width: 800px;
}

/*====== HEIGHT: SPECIFIC ======*/
.height10 {
  height: 10px;
}
.height40 {
    height: 40px;
}
.height60 {
    height: 60px;
}
.height70 {
    height: 70px;
}
.height80 {
    height: 80px;
}
.height100 {
    height: 100px;
}
.height200 {
    height: 200px;
}
.height245 {
    height: 245px;
}
.height300 {
    height: 300px;
}
.height350 {
    height: 350px;
}

/*====== FLEX ======*/
.flex {
    display: flex;
}
.row {
    flex-direction: row;
}
.column {
    flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
}
.flex1 {
    flex: 1;
}
.flex2 {
    flex: 2;
}
.flex3 {
    flex: 3;
}
.flex5 {
    flex: 5;
}

/*====== FONT ======*/
.fSize1 {
    font-size: 1rem;
}
.fSize15 {
    font-size: 1.5rem;
}
.fSize2 {
    font-size: 2rem;
}
.fSize3 {
    font-size: 3rem;
}
.fWeight300 {
    font-weight: 300;
}
.fWeight400 {
    font-weight: 400;
}
.fWeight500 {
    font-weight: 500;
}
.fWeight600 {
    font-weight: 600;
}
.fQuicksand {
    font-family: "Quicksand", sans-serif;
}
.fWhite {
    color: #fff;
}

/*====== BACKGROUND COLOR ======*/
.black {
    background-color: #000;
}
.blue {
    background-color: #08a7d0;
}
.gray {
    background-color: #333333;
}
.pink {
    background-color: #ff3697;
}

/*====== BACKGROUND COLOR OPACITY ======*/
.blackO70 {
    background-color: #000000b3;
}

/*====== ALIGNMENT ======*/
.center {
    justify-content: center;
    align-items: center;
}
.jCenter {
    justify-content: center;
}
.aCenter {
    align-items: center;
}
.jStart {
    justify-content: flex-start;
}
.aStart {
    align-items: flex-start;
}
.jEnd {
    justify-content: flex-end;
}
.aEnd {
    align-items: flex-end;
}
.jBetween {
    justify-content: space-between;
}
.jEvenly {
    justify-content: space-evenly;
}
.jAround {
    justify-content: space-around;
}

/*====== ABSOLUTE ======*/
.abs {
    position: absolute;
}

/*====== IMAGE ======*/
.imgCover {
    object-fit: cover;
}
.imgContain {
    object-fit: contain;
}

/*====== BORDER ======*/
.bRad10 {
    border-radius: 10px;
}
.bRad100 {
    border-radius: 100%;
}

/*====== CLICK RELATED ======*/
.cPointer {
    cursor: pointer;
}
